<template>
    <div>
        <p>About</p>
        <ul>
            <li><strong>Total amount:</strong> {{ amount }}</li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "About",
        data() {
            return {
                amount: 0,
            };
        },

        created() {
            axios.get('http://laravelvuehw.local/api/total')
                .then(response => response.data)
                .then(data => {
                    this.amount = data.amount;
                });
        }
    };
</script>

<style scoped>

</style>