<template>
    <div>
        <p>Poster</p>
        <ul>
            <li><strong>Posts:</strong> {{ posts }}</li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "Poster",
        data() {
            return {
                posts: [],
            };
        },

        created() {
            axios.get('http://laravelvuehw.local/api/total')
                .then(response => response.data)
                .then(data => {
                    this.posts = data.amount;
                });
        }
    };
</script>

<style scoped>

</style>